<div class="about-us-grid">
    <div class="first-section">
        <img src="/assets/two-ladies.png" class="two-lady-bg">
        <div class="first-header">
            <div></div>
            <img src="/assets/Slay.png" class="slay-img">
            <button class="menu-btn" mat-button [matMenuTriggerFor]="menu"><img class="hamburger-menu"
                    src="/assets/menu-white.png" /></button>
        </div>
        <div class="header-text">
            <span class="header-text-top">For a smile <br /> that makes <br /> you
            </span>
            <span class="text-with-stroke">CHIC</span>
        </div>
    </div>
    <div class="second-section">
        At Slay, we believe confidence begins with a smile. Born from the vision to redefine orthodontic care in India,
        we combine cutting-edge technology with sleek, comfortable aligners designed for modern lifestyles. Our mission
        is to make a confident, radiant smile accessible to everyone—without the hassle of traditional braces. With
        Slay, your journey to a flawless smile is effortless, stylish, and truly empowering.
    </div>
    <div class="third-section">
        <img class="teeth-left" src="/assets/teeth-left.png">
        <img class="teeth-right" src="/assets/teeth-right.png">
        <div class="fifth-header" style="color:white !important;">
            What we are Stand for
        </div>
        <div class="fifth-carousel third-carousel">
            <div class="arrow-section">
                <img class="switch-arrows" style="margin-right:25px" src="/assets/backward-white.png">
            </div>
            <div class="carousel-container">
                <div class="carousel">
                    <div *ngFor="let image of currentImageSet; let i = index" class="carousel-item"
                        style="background: #FFFAD4 !important;">
                        <img [src]="image.src" alt="carousel image" />
                        <div class="third-title"> {{image.title}}</div>
                        <div class="third-content">{{image.description}}</div>
                    </div>
                </div>
            </div>
            <div class="arrow-section">
                <img class="switch-arrows" src="/assets/forward-white.png">
            </div>
        </div>
    </div>
    <div class="fourth-section">
        <img src="/assets/start-img.png" style="width:100%;" *ngIf="!issectionOpened" (click)="issectionOpened = !issectionOpened">
        <img src="/assets/end-image.png" style="width:100%;"  *ngIf="issectionOpened" (click)="issectionOpened = !issectionOpened">
    </div>
    <div class="fifth-section">
        <div class="fifth-header">
            Our Saly team
        </div>
        <div class="fifth-carousel">
            <div class="arrow-section">
                <img class="switch-arrows" style="margin-right:25px" src="/assets/backward-arrow.png">

            </div>
            <div class="carousel-container">
                <div class="carousel">
                    <div *ngFor="let image of currentDoctorImageSet; let i = index" class="carousel-item">
                        <img [src]="image.src" alt="carousel image" />
                        <div class="doctor-name"> {{image.doctorName}}</div>
                        <div class="doctor-designation">{{image.designation}}</div>
                        <div class="doctor-department">{{image.description}}<br> {{image.department}}</div>
                    </div>
                </div>
            </div>
            <div class="arrow-section">
                <img class="switch-arrows" src="/assets/forward-arrow.png">
            </div>
        </div>
    </div>

    <div class="footer-section">
        <div class="home-menu">
            <div class="menu-header">Company</div>
            <div class="menu-items">Why Impress?</div>
            <div class="menu-items">Press</div>
            <div class="menu-items">Jobs</div>
            <div class="menu-items">Blog</div>
            <div class="menu-items">Student Beans</div>
        </div>
        <div class="home-menu">
            <div class="menu-header">Aligner</div>
            <div class="menu-items">Adult Aligners</div>
            <div class="menu-items">Teens Aligners</div>
            <div class="menu-items">Retainers</div>
            <div class="menu-items">Professional Whitening</div>
            <div class="menu-items">Veeners</div>
            <div class="menu-items">Pricing</div>
            <div class="menu-items">Results</div>
        </div>
        <div class="home-menu">
            <div class="menu-header">About Us</div>
            <div class="menu-items">Privacy Policy</div>
            <div class="menu-items">Cookies Policy</div>
            <div class="menu-items">Legal Notice</div>
            <div class="menu-items">Complaints Policy</div>
        </div>
        <div class="home-menu">
            <div class="menu-header">Support</div>
            <div class="menu-items">FAQs</div>
            <div class="menu-items">+44 40 2898 1270</div>
            <div class="menu-items">Whatsapp</div>
            <div class="menu-items">Email</div>
            <div class="menu-items" style="display:flex;">
                <img src="/assets/linkedin.png" class="menu-icon">
                <img src="/assets/facebook.png" class="menu-icon">
                <img src="/assets/instagram.png" class="menu-icon">
            </div>
            <div class="menu-items">Mon - Fri, 9:00 - 20:00</div>
            <div class="menu-items">Sat, 9:00 - 18:00</div>
        </div>
    </div>
</div>
